:root {
    --gris: #666;
    --color-principal: #8C4975;
    --negro: #000;
    --ancho-contenido: 80%;
    --blanco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
}

.contenedor-principal {
    width: 100vw;
    height: 85vh;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-tabla {
    width: 111.3rem;
    height: 65.3rem;
    background-color: var(--blanco);
    border-radius: 2.2rem;
    box-shadow: 1px 2px 3px 0px rgba(70, 118, 251, 0.41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
}

.contenedor-tabla .tabla {
    width: 100rem;
    text-align: center;
    border-collapse: collapse;
    max-height: 50rem;
}

.tabla tbody tr {
    height: 5.5rem;
}

.contenedor-tabla .tabla__titulo {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.tabla tbody tr th {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    color: var(--gris);
    position: sticky;
}
table.tabla {
    border: none;
    border-collapse: collapse; 
}

.tabla tbody tr.pagina-numero td table{
    color: red;
    margin-left: 50%;
}

.tabla tbody tr.pagina-numero td table tbody tr td {
    padding-left: 1rem;
}

table.tabla th {
    border: none;
}

table.tabla td {
    border: none; 
}


.tabla__cuerpo tr.borde-fila td {
    text-align: center;
    padding: 1.4rem 0;
    max-height: 5.5rem;
}

.icon-info {
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: rgba(140, 73, 117, .1);
    border-radius: 50%;
    margin: 0 auto;
}

.icon-info svg {
    color: var(--negro);
    width: 20px;
    height: 20px;
    margin-top: .5rem;
}

.tabla tbody tr {
    height: 5.5rem;
    max-height: 5.5rem;
    border: 2px solid #E9EFF4;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    color: var(--gris);
}

.tabla .tabla__cuerpo .borde-fila td a.icon-info svg.icono {
    color: #000;
}

.paginacion {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    margin-top: 2rem;
}

.paginacion__texto {
    font-size: 1.5rem;
    color: var(--gris);
    width: 40%;
    margin-left: 6rem;
}

.paginacion__elementos {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
}

.paginacion__elementos .etiqueta-paginacion {
    color: var(--gris);
    font-weight: 400;
}

.paginacion__elementos .pagina-seleccionada {
    height: 2.4rem;
    width: 2.4rem;
    background-color: var(--color-principal);
    color: var(--blanco);
    border-radius: 50%;
    padding: .5rem;
}

.proyect-box h2 {
    text-align: left;
    color: var(--Gray, #666);
}

/* Estilos para el card */
.proyect-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}


.btnasd {
    width: 100%;
    border-radius: 7px;
    background: var(--basic-colour, #8C4975);
    box-shadow: 1px 2px 3px 0px rgba(70, 118, 251, 0.41);
    color: var(--background-color, #FAFAFB);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
}
