<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="BDControlServicioSocialConnectionString" connectionString="workstation id=ControlServicioSocialDB.mssql.somee.com;packet size=4096;user id=Marcel8734_SQLLogin_1;pwd=i1gojgoe4b;data source=ControlServicioSocialDB.mssql.somee.com;persist security info=False;initial catalog=ControlServicioSocialDB"
	   providerName="System.Data.SqlClient" />
		<add name="ControlServicioSocialDBConnectionString" connectionString="Data Source=ControlServicioSocialDB.mssql.somee.com;Initial Catalog=ControlServicioSocialDB;Persist Security Info=False;User ID=Marcel8734_SQLLogin_1;Password=i1gojgoe4b;Packet Size=4096;Workstation ID=ControlServicioSocialDB.mssql.somee.com"
		 providerName="System.Data.SqlClient" />
 </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <diagnostics performanceCounters="Default"/>
        <bindings>
            <netTcpBinding>
                <binding name="TcpBinding" maxBufferSize="1265536" maxConnections="500"  maxReceivedMessageSize="1048576">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1265536" maxBytesPerRead="40960" maxNameTableCharCount="1265536" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="SWADNETControlServicioSocial.SWADNETControlServicioSocial">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SWADNETControlServicioSocial.ISWADNETControlServicioSocial" />
            </service>
        </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>