:root {
    --gris: #666;
    --color-principal: #8C4975;
    --negro: #000;
    --ancho-contenido: 80%;
    --blanco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-header__izquierda {
    display: flex;
    align-items: center;
}

.izquierda__logo img {
    max-width: 5rem;
    margin-left: 1.7rem;
    margin-right: 4.5rem;
    border-radius: 2rem;
    margin-top: 1.2rem;
}

.izquierda__titulo {
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
}

.contenedor-header__derecha {
    display: flex;
}

.derecha__opciones {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.derecha__opciones ul {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
}

    .derecha__opciones ul li .enlace-estilo:focus,
    .derecha__opciones ul li .enlace-estilo:active {
        font-weight: 700;
    }

.derecha__iconos {
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.iconos__imagen-usuario {
    width: 4.5rem;
    height: 4.3rem;
    background-color: var(--color-principal);
    border-radius: 1.2rem;
}
